<form>
    <div ng-repeat="training in training_list">
        <span>name</span>
        <p ng-bind="training.local.name"></p>
        <span>date</span>
        <p ng-bind="training.date"></p>
        <span>cep</span>
        <p ng-bind="training.local.cep"></p>
        <span>address</span>
        <p ng-bind="training.local.address"></p>
        <span>complement</span>
        <p ng-bind="training.local.complement"></p>
        <span>state</span>
        <p ng-bind="training.local.state"></p>
        <span>city</span>
        <p ng-bind="training.local.city"></p>
    </div>
</form>