<form>
{{ volunteer }}
-----------
{{subscription}}
    <h1 ng-bind="volunteer.id"></h1>
    <div>
        <label>
            <span>email</span>
            <input type="text" ng-blur="recover_subscription_id()" name="email" ng-model="volunteer.email" />
        </label>
    </div>
    <div>
        <label>
            <span>name</span>
            <input type="text" name="name" ng-model="volunteer.name" />
        </label>
    </div>
    <div>
        <label>
            <span>rg</span>
            <input type="text" name="rg" ng-model="volunteer.rg" />
        </label>
    </div>
    <div>
        <label>
            <span>birthdate</span>
            <input type="text" name="birthdate" ng-model="volunteer.birthdate" />
        </label>
    </div>
    <div>
        <label>
            <span>phone</span>
            <input type="text" name="phone" ng-model="volunteer.phone" />
        </label>
    </div>
    <div>
        <label>
            <span>occupation</span>
            <input type="text" name="occupation" ng-model="volunteer.occupation" />
        </label>
    </div>
    <div>
        <label>
            <span>organization</span>
            <input type="text" name="organization" ng-model="volunteer.organization" />
        </label>
    </div>
    <div>
        <label>
            <span>cep</span>
            <input type="text" name="cep" ng-model="volunteer.cep" />
        </label>
    </div>
    <div>
        <label>
            <span>address</span>
            <input type="text" name="address" ng-model="volunteer.address" />
        </label>
    </div>
    <div>
        <label>
            <span>complement</span>
            <input type="text" name="complement" ng-model="volunteer.complement" />
        </label>
    </div>
    <div>
        <label>
            <span>state</span>
            <input type="text" name="state" ng-model="volunteer.state" />
        </label>
    </div>
    <div>
        <label>
            <span>city</span>
            <input type="text" name="city" ng-model="volunteer.city" />
        </label>
    </div>
    <div>
        <button ng-click="save()">Próximo</button>
    </div>
</form>