<!doctype html>
<html class="no-js" lang="pt-br" ng-app="sonhar">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sonhar Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="fonte/fonts.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="vendor/library.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body class="contato">

    <div class="row main-menu">
      <ul class="large-12 columns">
        <li class="large-1 columns large-offset-2"><a href="index.html"><img src="img/menu-home.png" alt=""></a></li>
        <li class="large-1 columns"><a href="ong.html"><img src="img/menu-ong.png" alt=""></a></li>
        <li class="large-1 columns"><a href="festa.html"><img src="img/menu-festa.png" alt=""></a></li>
        <li class="large-1 columns"><a href=""><img src="img/menu-duvidas.png" alt=""></a></li>
        <li class="large-1 columns"><a href="contato.html"><img src="img/menu-contato.png" alt=""></a></li>
        <li class="large-1 columns"><a href="inscricao.html"><img src="img/menu-inscricao.png" alt=""></a></li>
        <li class="large-2 columns social">
          <a href="#"><img src="img/facebook.png" alt=""></a>
          <a href="#"><img src="img/instagram.png" alt=""></a>
          <a href="#"><img src="img/youtube.png" alt=""></a>
        </li>
      </ul>
    </div>

    <div class="row">

      <div class="large-4 columns contato-titulo ">
        <img src="img/contato.png" alt="">
      </div>
      <div class="large-6 columns home-content">
          <form name="contactForm" ng-submit="submit(contactForm.$valid)" ng-controller="ContactFormCtrl" novalidate>
            <div class="row">
              <div class="large-12 columns">
                <label>NOME COMPLETO</label>
                <input type="text" placeholder="" name="name" ng-model="formData.name" ng-maxlength="80" required/>
                <p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine">Escreve o seu nome por favor.</p>
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <label>EMAIL</label>
                <input type="email" placeholder="" name="email" ng-model="formData.email" required/>
              </div>
              <div class="large-6 columns">
                <label>TELEFONE</label>
                <input type="text" placeholder="" name="telefone" ng-model="formData.telefone"/>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>ASUNTO</label>
                <input type="text" placeholder="" ng-model="formData.subject"/>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <span>Mensagem</span>
                <textarea name="content" id="" cols="30" rows="10" ng-model="formData.content" ng-maxlength="499" required></textarea>
                <p ng-show="contactForm.name.$invalid && !contactForm.message.$pristine">Precisa escrever uma mensagem.</p>
              </div>
            </div>
            <button type="submit" id="submit" value="Submit" ng-disabled="contactForm.$invalid"/>
          </form>


      </div>
    </div>



    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
